@model IEnumerable<Tote.Models.SportViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/registrationIndex.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div id="Registration">
        <table >
            <tr>
                <td>
                    <input type="button" class="RegButton" value="Sign In" />
                </td>
                <td>
                    <input type="button" class="RegButton" value="Sign Up" />
                </td>
            </tr>
        </table>
    </div>
    <table>
        <th>
            Sport
        </th>
        
        <tr>
            <td>
                @Html.RouteLink("Go to Navigation",new {
               controller="Sport",
               action="List"},
               new
               {
                    @class="btn btn - block btn - default btn- lg"
               })
            </td>
        </tr>
    </table>
    <img src="~/Content/bet.jpg" id="betPaint" />
</body>
</html>
