
#Registration{
     position:absolute;
 top:0;
 right:0;
 width:200px;
    
}
.RegButton{
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}
#betPaint {
    position:fixed;
        z-index: -1;
        top:0;
        left:0; 
        min-width:100%;
        min-height:100%;
}